.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}